---
import Layout from '../layouts/Layout.astro';
import Floating from '../components/Floating.astro';
---

<Layout title="Home">

	<div class="flex flex-1 items-center py-0">
        <div class="w-full">
			<main>
				<div class="block md:flex justify-center items-center">
					<div class="text-center md:text-left">
						<span class="font-schoolbell font-bold text-4xl">I'm a </span><br/>
						<span class="font-schoolbell text-2xl">PhD Student</span><br/>
						<!-- <span>Information Retrieval, </span> <br/> -->
						<span class="font-schoolbell text-4xl">but</span><br/>
						<span class="font-moschoolbell">sometimes</span> <span class="font-schoolbell">
							want to be <span id='text_adjective'>peaceful</span> <span id='text_noun'>avocado 🥑</span>.
						</span>
					</div>
					<div id="image-container" class="w-fit mx-auto mt-5 md:m-0 md:ml-10 animate-float-less">
						<div class="w-40 h-40 overflow-hidden rounded-xl hover:scale-110 flex items-center justify-center pointer-events-none select-none">
							<img id="image-home" src="/images/peanut_1.jpg" class="w-40 pointer-events-none">
						</div>
						<p id='image-desc' class="w-full font-schoolbell text-center text-sm mt-2 select-none">This is Peanut</p>
					</div>
				</div>
        </div>
    </div>

	<Floating />
	  
</Layout>


<script is:inline src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.9.1/tsparticles.confetti.bundle.min.js"></script>
<script is:inline>
	const image_container = document.getElementById('image-container');
	const image = document.getElementById('image-home');
	const image_desc = document.getElementById('image-desc');

	let images = [
		[ '/images/peanut_1.jpg', () => 'This is Peanut' ],
		[ '/images/peanut_2.jpg', () => 'This is Peanut' ],
		[ '/images/peanut_3.jpg', () => 'This is Peanut' ],
		[ '/images/peanut_4.jpg', () => 'This is Peanut' ],
		[ '/images/pudding_1.jpg', () => 'This is Pudding' ],
		[ '/images/pudding_2.jpg', () => 'This is Pudding' ],
		[ '/images/pudding_3.jpg', () => 'This is Pudding' ],
		[ '/images/pudding_4.jpg', () => 'This is Pudding' ],
		[ '/images/me.jpg', () => `This is ${curr_noun}` ],
		[ '/images/me_2.jpg', () => `These are three ${curr_noun_plural}` ],
	];

	function setImage(idx) {
		const [src, desc] = images[idx];
		image.src = src;
		image.alt = desc();
		image_desc.textContent = desc();
	}


	const text_adjective = document.getElementById('text_adjective');
	const text_noun = document.getElementById('text_noun');
	const adjectives = [ 'a peaceful', 'a happy', 'a sad', 'an angry', 'a hungry', 'a thirsty', 'a sleepy', 'a hungry', 'a patient', 'a sleepy', 'a calm', 'a lazy', 'a spicy'  ];
	const nouns = [ 'avocado 🥑', 'banana 🍌', 'apple 🍎', 'orange 🍊', 'pear 🍐', 'pineapple 🍍', 'strawberry 🍓', 'cherry 🍒', 'watermelon 🍉', 'melon 🍈', 'potato 🥔' ];
	const nouns_plural = [ 'avocados', 'bananas', 'apples', 'oranges', 'pears', 'pineapples', 'strawberries', 'cherries', 'watermelons', 'melons', 'potatoes' ];
	let curr_noun = ""
	let curr_noun_plural = ""

	function setAdjective() {
		const random_idx = Math.floor(Math.random() * adjectives.length);
		text_adjective.textContent = adjectives[random_idx];
	}
	function setNoun() {
		const random_idx = Math.floor(Math.random() * nouns.length);
		text_noun.textContent = nouns[random_idx];
		curr_noun = nouns[random_idx];
		curr_noun = curr_noun.split(" ")[0].trim(); // remove emoji
		curr_noun = curr_noun.charAt(0).toUpperCase() + curr_noun.slice(1); // capitalize first letter
		curr_noun_plural = nouns_plural[random_idx]
	}

	function shoot_confetti() {
		const colors_primary = ["#cf2e88", "#ed90bf", "#c32a7d", "#f3c6db"]
		const colors_secondary = ["#00abd9", "#00abd9", "#ead900"]

		confetti({
			particleCount: 30,
			angle: 60,
			spread: 55,
			origin: { x: 0 },
			shapes: ['star'],
			colors: colors_primary,
		});

		confetti({
			particleCount: 30,
			angle: 120,
			spread: 55,
			origin: { x: 1 },
			shapes: ['star'],
			colors: colors_primary,
		});

		confetti({
			particleCount: 10,
			angle: 60,
			spread: 55,
			origin: { x: 0 },
			shapes: ['star'],
			colors: colors_secondary,
		});

		confetti({
			particleCount: 10,
			angle: 120,
			spread: 55,
			origin: { x: 1 },
			shapes: ['star'],
			colors: colors_secondary,
		});
	}

	function init() {
		let curr_idx = 0;
		setAdjective();
		setNoun();
		setImage(curr_idx);

		image_container.addEventListener('click', () => {
			const random_idx = Math.floor(Math.random() * images.length);
			if (random_idx == curr_idx) {
				curr_idx = (random_idx + 1) % images.length;
			} else {
				curr_idx = random_idx;
			}
			setImage(curr_idx);
			shoot_confetti();
		});	
	}

	init();
</script>
